@model WebApplication1.Models.HomeBurndownViewModel
@{
    ViewBag.Title = "Sunny's Burndown";
}
<style type="text/css" media="screen">
 </style>

<div class="row" style="margin-top: 10px">
    @using (var form = @Html.BeginForm("SaveChanges", "Home", new {id = Model.BurndownId}))
    {
        <div class="col-md-6">
            Title: @Html.TextBoxFor(m => m.Title)
            <br/>
            <div id="editor" style="height:600px">@Model.Definition</div>
        </div>
        <div class="col-md-6">
            <div class="row">
                Link to this Burndown: <a href="@Model.AbsoluteUrl">
                    @Model.AbsoluteUrl
                </a>
            </div>
            <div class="row">
                <input type="submit" value="Save"/>
            </div>
            <div class="row">
                <pre>@Model.HistorySummary</pre>
            </div>
        </div>
    }
</div>

<script src="/Scripts/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
    editor.getSession().setTabSize(4);
    editor.getSession().setUseSoftTabs(true);
</script>
