@model WebApplication1.Models.HomeBurndownViewModel
@{
    ViewBag.Title = "Sunny's Burndown";
}
<style type="text/css" media="screen">
 </style>

<div class="row" style="margin-top: 10px">
        <div class="col-md-6">
            Title: @Html.TextBox("Title",Model.Title)
            <br/>
            <div id="editor" style="height:600px">@Model.Definition</div>
        </div>
        <div class="col-md-6">
            <div class="row">
                Link to this Burndown: <a href="@Model.AbsoluteUrl">
                    @Model.AbsoluteUrl
                </a>
            </div>
            <div class="row">
                <input type="submit" value="Save" id="SubmitButton"/>
            </div>
            <div class="row">
                <pre>@Model.HistorySummary</pre>
            </div>
        </div>
</div>

@section scripts {
    <script src="/Scripts/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/python");
        editor.getSession().setTabSize(4);
        editor.getSession().setUseSoftTabs(true);

        var submitButton = $("#SubmitButton");
        submitButton.click(function() {
            alert("do something");
        });
    </script>
}
